<div *ngIf="!items.length">
    <h2>Search Item</h2>
    <form #form="ngForm" class="form-group">

        <label for="category">category</label>
        <select name="category" class="form-control" [(ngModel)]="item.category"
            (change)="categoryChanged(item.category)">
            <option disabled value="">(Select Category)</option>
            <option *ngFor="let cat of categories" [value]="cat">{{cat}}</option>
        </select>
        <div *ngIf="names.length">
            <label for="name">Name</label>
            <select name="name" [(ngModel)]="item.name" class="form-control">
                <option value="">(Select Name)</option>
                <option *ngFor="let name of names" [value]="name.name">{{name.name}}</option>
            </select>
        </div>
        <label for="brand">brand</label>
        <input class="form-control" type="text" placeholder="brand" name="brand" [(ngModel)]="item.brand">
        <label for="minPrice">minPrice</label>
        <input class="form-control" type="text" placeholder="minPrice" name="minPrice" [(ngModel)]="item.minPrice">
        <label for="maxPrice">maxPrice</label>
        <input class="form-control" type="text" placeholder="maxPrice" name="maxPrice" [(ngModel)]="item.maxPrice">
        <label for="color">color</label>
        <input class="form-control" type="text" placeholder="color" name="color" [(ngModel)]="item.color">
        <label for="model">model</label>
        <input class="form-control" type="text" placeholder="model" name="model" [(ngModel)]="item.model">
        <label for="origin">origin</label>
        <input class="form-control" type="text" placeholder="origin" name="origin" [(ngModel)]="item.origin">


        <label for="tags">tags</label>
        <input class="form-control" type="text" placeholder="tags" name="tags" [(ngModel)]="item.tags">


        <button (click)="submit()" class="btn btn-primary" [disabled]="form.invalid" *ngIf="!submitting">search</button>
        <button class="btn btn-info" disabled *ngIf="submitting">searching...</button>

    </form>
</div>
<div *ngIf="items.length">
    <app-list-item (resetSearch)="resetSearch($event)" [inputData]="items"></app-list-item>
</div>