<h2>Chat</h2>
<b>{{user.username}}</b>
<div class="row">
    <div class="col-md-6">
        <u>Messages</u>
        <div style="height:600px; border:1px solid red">
            <ul>
                <li *ngFor="let msg of messages">
                    <p>{{msg.senderName}}</p>
                    <p>{{msg.msg}}</p>
                    <small>{{msg.time | date:'hh:mm a'}}</small>
                </li>
            </ul>
        </div>
        <form (ngSubmit)="sendMsg()" #form="ngForm" class="from-group">
            <div class="row">
                <div class="col-md-1"></div>
                <input (focus)="focusedIn(true)" (focusout)="focusedIn(false)" type="text"
                    placeholder="Your msg here..." class="form-control col-md-8" [(ngModel)]="msgBody.msg" name="msg">
                <button type="submit" class="btn btn-success col-md-2">send</button>
            </div>
            <p *ngIf="isTyping">{{typingUserInformation}} is typing...</p>
        </form>
    </div>
    <div class="col-md-6">
        <u>Users</u>
        <div style="height:600px; border:1px solid red">
            <ul>
                <li *ngFor="let user of userList">
                    <button (click)="selectUser(user)" class="btn btn-default">{{user.name}}</button>
                </li>
            </ul>

        </div>
    </div>