<h2>{{title}}</h2>
<button *ngIf="inputData" class="btn btn-success" (click)="searchAgain()">search again</button>
<div *ngIf="isLoading">
    <app-loader></app-loader>
</div>
<table class="table" *ngIf="!isLoading">
    <thead>
        <th>S.N</th>
        <th>Name</th>
        <th>Category</th>
        <th>Price</th>
        <th>Brand</th>
        <th>Image</th>
        <th *ngIf="!inputData">Actions</th>
    </thead>
    <tbody>
        <tr *ngFor="let item of items;let i= index">
            <td>{{i +1}}</td>
            <td>{{item.name}}</td>
            <td>{{item.category}}</td>
            <td>{{item.price}}</td>
            <td>{{item.brand}}</td>
            <td>
                <img src="{{imgUrl}}{{item.image}}" alt="item_image.jpg" width="200px">
            </td>
            <td *ngIf="!inputData">
                <button class="btn btn-info" routerLink="/item/edit/{{item._id}}">edit</button>
                <button class="btn btn-danger" (click)="remove(item._id,i)">delete</button>
            </td>
        </tr>
    </tbody>
</table>