<!-- placeholder where routing configuration component are loaded -->

<!-- Side navigation -->
<div class="sidenav" *ngIf="isLoggedIn()">
    <a [routerLink]="['/user/dashboard']">Home</a>
    <a [routerLink]="['/item/add']">Add Item</a>
    <a [routerLink]="['/item/list']">View Items</a>
    <a [routerLink]="['/item/search']">Search Item</a>
    <a [routerLink]="['/user/change-password']">Change Password</a>
    <a [routerLink]="['/user/profile']">Profile</a>
    <a [routerLink]="['/user/chat']">Let's Chat</a>
    <button (click)="logout()" class="btn btn-success">logout</button>
</div>

<!-- Page content -->
<div class="main container">
    <!-- <app-header></app-header> -->
    <router-outlet></router-outlet>
    <app-footer></app-footer>
</div>