<h2>Reset Password</h2>
<p>Please choose your new password</p>
<form class="form-group" #form="ngForm">
    <label for="password">Password</label>
    <input class="form-control" type="text" placeholder="Password" name="password" [(ngModel)]="user.password" required>
    <label for="confirmPassword">Confirm Password</label>
    <input class="form-control" type="text" placeholder="Confirm Password" name="confirmPassword"
        [(ngModel)]="user.confirmPassword" required>
    <br>
    <button [disabled]="form.invalid" class="btn btn-primary" *ngIf="!submitting" (click)="submit()">submit</button>
    <button disabled class="btn btn-info" *ngIf="submitting">submitting...</button>
    <a routerLink="/auth/login">back to login</a>
</form>