<h2>Forgot Password</h2>
<p>Please provide your email address to proceed</p>
<form class="form-group" #form="ngForm">
    <label for="email">Email</label>
    <input class="form-control" type="text" placeholder="Email" name="email" [(ngModel)]="user.email" required email>
    <br>
    <button [disabled]="form.invalid" class="btn btn-primary" *ngIf="!submitting" (click)="submit()">submit</button>
    <button disabled class="btn btn-info" *ngIf="submitting">submitting...</button>
    <a routerLink="/auth/login">back to login</a>
</form>